-unless article.published?
  .notice
    %p This article is a draft, so if you are looking at you can't sue me. Yeah?

.article
  %h2.article_title=article.title
    
  .article_body
    =article.body
  
%ul.article_nav
  -unless @previous_article.nil? || !@previous_article.published
    %li.prev
      Previously:
      =link(@previous_article.title.gsub(/<br>|<br\/>|<br\s\/>/, " "), @previous_article.permalink)
    
  -unless @next_article.nil? || !@next_article.published
    %li{:style => "#{@previous_article.nil? ? '' : 'next' }"}
      Next up:
      =link(@next_article.title.gsub(/<br>|<br\/>|<br\s\/>/, ""), @next_article.permalink)