.article
  %h2.article_title=article.title
  
  %p.meta
    this is week 
    =article.meta[:week] 
    in 52 articles, an experiment that makes me write an article each week for your pleasure.
    
    
  .article_body
    =article.body