-unless article.published?
  .notice
    %p This article is a draft, so if you are looking at you can't sue me. Yeah?

.article
  %h2.article_title=article.title
  
  %p.meta
    this is week 
    =article.meta[:week] 
    in 
    =succeed(",") do
      %a{:href => "http://project52.info/", :title => "Get down and write your bad self"}project 52
    
    an experiment that makes me write an article each week for your pleasure.
    
    
  .article_body
    =article.body
  
%ul.article_nav
  -unless @previous_article.blank?
    %li.prev
      Last week:
      =link(@previous_article.title, @previous_article.permalink)
    
  -unless @next_article.blank?
    %li{:style => "#{@previous_article.blank? ? '' : 'next' }"}
      Next up:
      =link(@next_article.title, @next_article.permalink)