-unless article.published?
  .notice
    %p This article is a draft, so if you are looking at you can't sue me. Yeah?

.article
  %h2.article_title=article.title
    
  .article_body
    =article.body
  
%ul.article_nav
  -unless @previous_article.blank? || !@previous_article.published
    %li.prev
      Last week:
      =link(@previous_article.title, @previous_article.permalink)
    
  -unless @next_article.blank? || !@next_article.published
    %li{:style => "#{@previous_article.blank? ? '' : 'next' }"}
      Next up:
      =link(@next_article.title, @next_article.permalink)