-@articles.each do |article|
  .article
    %p.post_date
      born
      %strong=article.post_date.strftime("%e %B, %Y")

    %h3
      =link article.title, article.permalink, "visit #{article.title}" 
    =article.body
    