.article
  %h2.article_title
    Starts Tuesday 5th January.
    
  .article_body
    %h2 This website is relaunching with 52 articles.
    
    %h3 One published each week, for an entire year.
    %p So check back on tuesday, for the first article of what I hope is a good year.