%a{:href => "http://jaseandtonic.com", :title => "Hire me, ..., profit."}
  .card
    %h1 Jason Cale
    %h2 Web / iPhone Development &amp; Interface design.
  
    %ul
      %li T: +447885505651
      %li E: jase AT jaseandtonic DOT com
      %li HTTP://jaseandtonic.com
    
    
