.article
  %h2.article_title
    Starts Tuesday 5th January.
    
  .article_body
    %h2 
      This website is relaunching as part of 
      =succeed('.') do
        %a{:href => "http://project52.info/"}project 52
    
    
    %h3 One article, published each week, for an entire year.
    %p So check back on tuesday, for the first article of what I hope is a good year.