%h1 
  %a{:href => "/", :title => "Looking inwards; it was always there."}Young delta heart

#article_list
  %h2 Essays
  %p.desc Lengthy meditations to ignite the tumbling tired mind.
  %ol.group
    -@articles.each do |article|
      %li
        %h3
          =link(article.title.gsub(/<br>|<br\/>|<br\s\/>/, ""), article.path)
          %em
            &mdash;
            %span.published_at 
              =article.post_date.strftime("%a, #{ordinalize(article.post_date.day)} %b %Y")
        %p.description=article.description
      
.bio 
  %h3 Jason Cale. 
  %p 
    An aspiring potter, working at 
    %a{:href => "http://gofreerange.com", :title => "We are the best"}Go Free Range
    building software for the web. 
  %p Funnelled into form by music, prose, yoga &amp; zazen. 
  %p This is his personal monologue; long essays which challenge the attention span of the average internet participant.