!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "verify-v1", :content => "LMNlM2zu0bV5F2wzWqXN5UCfNHhSPiqLdtByuaEftQo=" }
    %title
      Jason Cale :: Young Delta Heart :: Ruby developer :: UI Designer :: iPhone Developer
    %link{:rel => "stylesheet", :href => "/card.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
  %body
    = yield    
    -non_haml do
      <!--[if IE 6]>
      <script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script>
      <![endif]-->
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-10196028-1");
      pageTracker._trackPageview();
      } catch(err) {}
      </script>
