!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "verify-v1", :content => "LMNlM2zu0bV5F2wzWqXN5UCfNHhSPiqLdtByuaEftQo=" }
    %title
      Jason Cale :: Young Delta Heart :: Ruby developer :: UI Designer :: iPhone Developer
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
    / %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://#{env['HTTP_HOST']}/rss.xml"}
    %script{ :src => "/js/jquery.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/audio-player.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/jshizzle.js", :type => "text/javascript", :charset => "utf-8" }
    
    %script{ :src => "http://use.typekit.com/tyb5svm.js", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      try{Typekit.load();}catch(e){}
      
    /
      [if IE]>
      <style type="text/css">
      \.clearfix { zoom: 1; }
      </style>
      <![endif]

  %body.tk-republic-web
    #page
      #masthead
        .title_wrapper.clearfix
          %h1 
            %a{:href => "/", :title => "home"}YOUNG DELTA HEART
          %h2
            by 
            =succeed(".") do
              %a{:href => "http://twitter.com/jasoncale", :title => "Twitter, of course"}Jason Cale
            Web programmer and interface designer at 
            =succeed(".") do
              %a{:href => "http://jaseandtonic.com", :title => "My Company"}Jase &amp; Tonic
            %strong Yeah I go both ways.
      #content
        .main
          = yield