html
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-weight inherit
  :font-style inherit
  :font-size 100%
  :font-family inherit
  :vertical-align baseline


body
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-weight inherit
  :font-style inherit
  :font-size 100%
  :font-family inherit
  :vertical-align baseline
  :line-height 1
  :color black
  :font-family "Cochin", "Times New Roman", serif
  :font-size 62.5%
  :background #fcef50 url(http://jaseandtonic.com/i/bg_noise.png)


div, span, applet, object, iframe
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-weight inherit
  :font-style inherit
  :font-size 100%
  :font-family inherit
  :vertical-align baseline


h1
  :margin 0
  :padding 0
  :color rgb(40, 47, 40)
  :font-size 10em
  :font-weight bold
  :text-transform uppercase

h2
  :margin 0
  :padding 0
  :color rgb(40, 47, 40)
  :font-size 3.5em
  :font-weight bold

h3, h4, h5, h6, p
  :margin 0
  :padding 0
  :font-size 2em

blockquote, pre
  :margin 0
  :padding 0

a
  :margin 0
  :padding 0          
  :text-decoration none
  :color #ed1a62  
  
  &:hover, &:focus
    :text-decoration underline
    :background transparent
  

abbr, acronym, address, big, cite, code, del, dfn
  :margin 0
  :padding 0

em
  :margin 0
  :padding 0
  :font-style italic
  :color #bbb

font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-weight inherit
  :font-style inherit
  :font-size 100%
  :font-family inherit
  :vertical-align baseline

strong
  :font-weight bold


ol, ul
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-weight inherit
  :font-style inherit
  :font-size 100%
  :font-family inherit
  :vertical-align baseline
  :list-style none
  :font-size 2em

  li
    :margin 0
    :padding 0


*:focus
  :outline 0
  
#page
  #masthead
    :background black
    :padding 1em 0
    
    .title_wrapper
      :width 96em
      :margin 0 auto  
      :-webkit-box-shadow 2px 2px 3px rgba(0, 0, 0, 0.4)
      :-moz-box-shadow 2px 2px 3px rgba(0, 0, 0, 0.4)
      :box-shadow 2px 2px 3px rgba(0, 0, 0, 0.4)
      :padding 0     
      
      h1  
        :float left
        :font-size 2em
        :color #fff
        :font-weight normal
        
        a
          :color #fff
      
          &:hover
            :text-decoration none
  
      h2
        :font-size 1.5em
        :color #ccc
        :font-weight normal
        :width 46em
        :float right
      
        strong
          :padding-left 2em
          :color #fff
          :font-weight normal
        
  #content
    :margin 0 auto
    :padding-bottom 4em
    :width 960px
    
    .article
      :padding-top 3em
      
      h2
        :color #ddd
      
      .info_52_articles
        :padding 10px 20px 0 0
        :width 220px
        
        p
          :color #dadada
          :font-size 1.4em
          :padding-bottom 1em
          :line-height 1.5em
          
      h2.article_title
        :font-size 6em
        :color #000
        :line-height 1.1em
        :background black
        :color white
        :font-family "ff-typestar-black-web-1","ff-typestar-black-web-2"
        :padding 1em
        :line-height 1.4em
        :-moz-border-radius-topright 10px
        :-webkit-border-top-right-radius 10px
        :-moz-border-radius-topleft 10px
        :-webkit-border-top-left-radius 10px
        :-webkit-box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        :-moz-box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        :box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)

      .meta
        :background #ededed
        :border-bottom 1px solid #ddd
        :padding 1em 4em
        :font-size 1.4em
        :-webkit-box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        :-moz-box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        :box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        

      .article_body
        :background #fefefe url(/i/article_bg.jpg)
        :padding 4em 6em 4em 6em
        :border-bottom 1px solid #fff
        :-webkit-box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        :-moz-box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        :box-shadow 4px 4px 6px rgba(111, 111, 111, 0.1)
        

        h2
          :color #333
          :font-weight normal
          :padding 0.5em 0
          :font-size 5em
        
        h3
          :color #444
          :font-weight normal
          :padding 1em 0 0.3em 0
          :font-size 3em
          
        h4
          :font-weight normal
          :padding 1em 0 0.3em 0
          :font-size 2em
        
        p.screenr
          :-webkit-box-shadow 2px 2px 5px rgba(0, 0, 0, 0.2)
          :-moz-box-shadow 2px 2px 5px rgba(0, 0, 0, 0.2)
          :box-shadow 2px 2px 5px rgba(0, 0, 0, 0.2)
          :background #eee
          :padding 1em
          :margin 2em
          :width 560px
          :border 1px solid #e6e6e6
        
        img
          :max-width 904px
          :margin 3em 26px 4em 30px
          :-webkit-box-shadow 2px 2px 5px rgba(0, 0, 0, 0.2)
          :-moz-box-shadow 2px 2px 5px rgba(0, 0, 0, 0.2)
          :box-shadow 2px 2px 5px rgba(0, 0, 0, 0.2)
          :background #eee
          :padding 2em
          :border 1px solid #e6e6e6
          :display block
        
        img.center
          :margin 2em auto 3em auto
        
        img.bleed
          :margin 4em 0 4em -6em
          :max-width 960px
          :border none
          :-webkit-box-shadow none
          :-moz-box-shadow none
          :box-shadow none
          :padding 0
          
        p
          :font-size 1.4em
          :padding 0.2em 0 0.5em 0
          :line-height 1.6em
          :width 50em
          
          img
            :max-width 100%
            
        p.emphasise
          :padding 0.5em 1em
          :margin 1em -1em
          :border 1px solid #efefef
          :background #fefefe
            
        ul, ol
          :padding-left 1em
          :margin 0.5em 1em 2em 1em

          li
            :font-size 1.4em
            p
              :font-size 1em
              :width auto

        ul
          :list-style disc

        ol
          :padding-left 1.5em
          :list-style decimal
          
        ol.timid
          li
            :font-size 0.8em
          
        blockquote
          :display block
          :padding 2em
          :font-size 2em
          :position relative
          
          span.source
            :display block
            :color red
            :padding-top 1em
        
        .code_sample
          :background black
          :margin 2em 0
          :-webkit-box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
          :-moz-box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
          :box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
          
          h3
            :padding 1em 1em 0 1em
            :font-size 1.6em
            :color #ddd
        
        ol.code
          :background black
          :color white
          :padding 2em 1.5em 2em 4em
          :font-size 1em
          :margin 0

          li
            :font-size 1.5em
            :line-height 1.6em
            :color #ddd
            :background #2f2f2f
            :padding 0.2em 1em 0.3em 1em
            -webkit-transition-property: color, background
            -webkit-transition-duration: 0.5s, 0.5s
             
            code.tab_1
              :padding-left 1em
              
            code.tab_2
              :padding-left 2em
              
            code.tab_3
              :padding-left 3em
              
            code.tab_4
              :padding-left 4em
              
            code.tab_4
              :padding-left 4em
              
            code.tab_5
              :padding-left 5em
            
            code.tab_6
              :padding-left 6em
                
            code.tab_7
              :padding-left 7em
          
            code.tab_8
              :padding-left 8em

            code.tab_9
              :padding-left 9em
  
            code.tab_10
              :padding-left 10em
              
            code.comment
              :color #888
        
          li:nth-child(odd)
            :background #222
           
          li:hover
            :background #111
            :color green
        
        pre
          :font-size 1.4em
          :line-height 1.6em
          :color #ccc
          :background black
          :padding 1em 5em
          :-webkit-box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
          :-moz-box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
          :box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
          -webkit-transition-property: color, background
          -webkit-transition-duration: 0.5s, 0.5s
          
          code
            :font-size 1.1em
            
        pre:hover
          :background #111 
          :color green
          
        p
          code
            :padding 0.3em 0.5em
            :color #ccc
            :background #2f2f2f
            
        p.code_block
          :padding-top 1em
          
          code
            :font-size 1.2em
            :line-height 1.4em
            :display block
            :color #ccc
            :background black
            :padding 1em 5em
            :-webkit-box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
            :-moz-box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
            :box-shadow 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3)
            -webkit-transition-property: color, background
            -webkit-transition-duration: 0.5s, 0.5s

            &:hover
              
              :color green
          
        code.eval
          :cursor pointer
          :color inherit
          -webkit-transition-property: color
          -webkit-transition-duration: 0.5s
          
          &:hover
            :color #ed1a62
        
    .notice        
      :background black
      :color #ddd
      :margin 1em 0
      :padding 1em
      :border 1em solid #fefefe
      :-webkit-box-shadow 0.2em 0.2em 0.7em rgba(0, 0, 0, 0.2)
      :-moz-box-shadow 0.2em 0.2em 0.7em rgba(0, 0, 0, 0.2)
      :box-shadow 0.2em 0.2em 0.7em rgba(0, 0, 0, 0.2)
      :text-align center
      
      p
        :font-size 1.4em
        :padding 1em
        
    .copyriiiight
      
      :font-size 1.3em
      :padding 2em 0
      
      a
        :background url(http://jaseandtonic.com/i/logo.png) no-repeat
        :text-indent -3000px
        :display block
        :margin 0 auto
        :width 313px
        :height 57px
        
        
.clearfix:after
  :content "."
  :display block
  :height 0
  :clear both
  :visibility hidden
      