
/* 
  Jasoncale.com
  First comes Mr Mayer's reset stuff
  http://meyerweb.com/eric/tools/css/reset/
  then below that you will find my shit

html
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


body
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :line-height 1


div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


blockquote
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :quotes none

  &:before, &:after
    :content ''
    :content none


pre, a, abbr, acronym, address, big, cite, code
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


del
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :text-decoration line-through


dfn, em, font, img
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


ins
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :text-decoration none


kbd
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


q
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :quotes none

  &:before, &:after
    :content ''
    :content none


s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


ol, ul
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :list-style none


li, fieldset, form, label, legend
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


table
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :border-collapse collapse
  :border-spacing 0


caption, tbody, tfoot, thead, tr, th, td
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent


* :focus
  :outline 0
  
  
/* Website styles
  1. General
  2. Masthead
  3. Content
    3.1 General
    3.2 Main Column
    3.3 Sidebar
  4. Footer 
  Written by jase, on a sunday night

/* 
  General
  
  Colours:
    off_white     #fffff9
    bg_purple     #655b7d
    mh_purple     #311d60
    border_black  #1e1b27
    img_border    #ecebea
  
!off_white    = #fffff9
!bg_purple    = #655b7d
!mh_purple    = #230f52
!border_black = #1e1b27
!img_border   = #ecebea  

/* 1. General Styling

body
  :background-color = !bg_purple
  :color white
  :text-align center
  :font-size 62.5%
  :font-family  Helvetica, Arial, sans-serif
  
  
#page
  :width 86em
  :margin 0 auto
  :text-align left
  
a
  :color #ff0060
  :text-decoration none
  
a:hover
  :color white
  :background #ff0060

/* 2. Masthead

#masthead
  :padding 0 5em
  :position relative
  :height 5.5em
  :background-color = !mh_purple
  :border-top 4px solid
  :border-bottom 5px solid
  :border-color = !border_black
  :padding-top 2em
  
  h1, h2
    :font-size 3.6em
    :font-family "Georgia"
    :font-weight normal
  
    a
      :text-decoration none
      :color white
      
    a:hover
      :color #e3e3e3
  
  h2
    :font-size 1.8em
    :position absolute
    :top 1.5em
    :right 2em
    
    
#content
  :border-top 4px solid #ccccc7
  :background = !off_white
  :padding 4em 5em 2em 5em
  :color #454545
    
  .main
    :width 48em
    :float left
    :margin-right 2em
    
    h3
      :font-size 3.6em
    
    p
      :font-size 1.4em
      :line-height 1.6em
      :padding 1em 0 0 0
        
      
    .article
      :margin 0 0 4em 0
      
      p.post_date
        :font-size 1.2em
        :padding 0 0 0.5em 0

      .article_body
    
        img
          :padding 0.5em
          :background #ecebea
          :border 1px solid #e6e6e6
          :width 33.2em
          :margin-top 0.5em
          :margin-bottom 0.5em
          
        h3
          :font-size 2em
          
        h4
          :font-size 1.5em
          
        ul
          :font-size 1.4em
          :padding 1em
          :margin-left 1em
        
          li
            :line-height 1.6em
            :list-style circle
            :padding-bottom 1em
              
  .sidebar
    :width 18em
    :float left
    :margin-left 1em
    
    div
      :margin-bottom 1em
    
      h3
        :text-transform uppercase
        :font-size 1.4em
        :line-height 2em
      
      p, li
        :font-size 1.2em
        :line-height 1.3em
              
    .last_fm
    
      a

        img
          :width 5em
          :background #ecebea
          :border 1px solid #e6e6e6
          :padding 0.2em
          :margin 0.1em
    
      a:hover
        :background none
        
    .twitter
      .tweet_date
        :padding-top 0.2em
        :text-align right
                
    
#footer
  :background #000
  :font-size 13.7em
  :text-transform uppercase
  :text-align center
  :color #454545
  :font-weight bold
  :padding 0.5em 0
    
.clear
  :clear both
